@namespace GymCalc.Components

<title>@Title</title>

<link href="@CommonCssPath" rel="stylesheet" />
<link href="@PlatformCssPath" rel="stylesheet" />
<link href="@ThemeCssPath" rel="stylesheet" />

@code {
    private string Title = "Unknown";

    [Parameter]
    public string CommonCssPath { get; set; }

    [Parameter]
    public string PlatformCssPath { get; set; }

    [Parameter]
    public string ThemeCssPath { get; set; }
}
