@page "/about"

<h1>Version 1.0</h1>

<h2>Introduction</h2>

<p>Thanks for trying GymCalc :)</p>

<p>
    Sometimes, especially when working with barbells, it is not obvious what plates you should be
    adding to the bar to get the total weight you want, especially once you start doing pyramid or
    reverse pyramid training. GymCalc solves that problem for you.
</p>

<p>Review the Instructions to learn how to use the app.</p>

<p>
    I'd love to hear of any improvements you would like to see or bugs you encounter. Please feel
    welcome to contact me at shaun@astromultimedia.com.
</p>

<p>
    I'm especially interested at this time to know what weights are usually found in gyms in
    countries other than Australia, if they differ from the defaults I've set up.
</p>

<h3>Future enhancements</h3>

<p>We'll see how things go in terms of user feedback and time constraints, but if I do develop the
    app further the most likely major new feature will be support for pin-loaded machines. Let me
    know if this would be useful for you.</p>

<p>Have a great day!</p>

<p>Shaun Moss</p>

<p>December, 2023</p>
