@page "/instructions"

<h1>Select your units</h1>

<p>
    This should be automatic based on your country ("lb" for US, "kg" for everyone else). If you
    need to change it, do this on the Settings page before doing anything else.
</p>

<hr>

<h1>Set up your weights</h1>

<p>
    The app contains a database of different weights, including bars, plates, dumbbells,
    fixed-weight barbells, and kettlebells. The defaults are the most common weights found in gyms
    around the world, which should include most or all of the weights in your gym. However, every
    gym is different, and you need to set the database up correctly or the app will recommend
    weights you don't have.
</p>

<p>
    To enable weights that are available in your gym, or disable weights that aren't, select the
    "Weights" menu item. Then tap the Bars, Plates, Fixed Barbells, Dumbbells, or Kettlebells button
    to list weights of that type. You can then enable, disable, edit, delete, or add new weights
    using the various buttons.
</p>

<ul>
    <li>Use the checkbox to enable or disable a weight. Disabling a weight is often preferable to
        deleting it, especially if you are travelling and visiting different gyms.</li>
    <li>Use the Edit icon button (looks like a pencil) to modify the details of a weight, including
        the actual weight, the units (kg or lb), if the weight is enabled or not, and colour.</li>
    <li>Use the Delete icon button (looks like a trash can) to delete a weight from the
        database.</li>
    <li>Use the Add button to add a new weight to the database.</li>
    <li>Use the Reset button to undo all your changes and restore the defaults.</li>
</ul>

<p>
    Most gyms don't have so-called "micro" or fractional plates (those in the 0.25-1 kg/lb range),
    but they can be helpful when you only want to increase the weight by a small amount. When used
    in conjunction with GymCalc, they can often enable you to select the exact ideal weight.
</p>

<p>
    The colours for plates come from the standard colours for Olympic bumper plates, with other
    colours for non-standard weights. I've made multiples of 10 the same colour. For kettlebells,
    official competition colours have been used. You can modify the colours as you please to suit
    the weights in your gym.
</p>

<hr>

<h1>Using the calculator</h1>

<h2>Step 1</h2>

<p>Select the exercise type.</p>

<h2>Step 2</h2>

<p>Enter the maximum weight you're going for.</p>

<h2>Step 3</h2>

<h3>Barbell exercises</h3>

<ol type="a">
    <li>Select if you are using a plate-loaded or fixed-weight barbell.</li>
    <li>For a plate-loaded barbell select the weight of the bar. If you don't know the weight of the
        bar, it's probably 20 kg or 45 lb. You can set up bar weights beforehand in the database.</li>
</ol>

<h3>Machine exercises</h3>

<ol type="a">
<li>
    Select "Bilateral" for machines where both arms or both legs move together, or "Isolateral" for
    machines where each arm or leg moves independently.
</li>
<li>
    Enter the starting weight of the machine. This is sometimes shown on a metal plate fixed to the
    machine, but is just as often not shown, in which case, you may be able to find it on the
    manufacturer's website. Otherwise, just estimate it or leave it blank. For the purpose of
    progressive overload it won't matter too much as long as you use the same value each time. For
    bilateral machines the starting weight will be given as a total amount, but for isolateral
    machines it will usually be per side.
</li>
</ol>

<h3>Dumbbell or kettlebell exercises</h3>

<p>There is no step 3, carry on!</p>

<h2>Step 4</h2>

<p>
    Press "Calculate". The app will then display the plates or weight you should select to get
    closest to the maximum weight you entered. The same calculation is done for 90%, 80%, 70%, 60%,
    and 50% of the maximum - just tap the respective percent button to see which weights to select
    to get closest to that fraction. These additional calculations are helpful for warm-up sets,
    drop sets, or pyramid or reverse pyramid training (see the page on Training Methods for more
    information).
</p>
