@page "/Instructions"

<h1>Select your units</h1>

<p>
    This should be automatic based on your country ("lb" for US, "kg" for everyone else). If you
    need to change it, do this on the Settings page before doing anything else.
</p>

<hr>

<h1>Set up your weights</h1>

<p>
    The app contains a database of different weights, including bars, plates, dumbbells,
    fixed-weight barbells, and kettlebells. The defaults are the most common weights found in gyms
    around the world, which should include most or all of the weights in your gym. However, every
    gym is different, and you need to set the database up correctly or the app will recommend
    weights you don't have.
</p>

<p>
    To enable weights that are available in your gym, or disable weights that aren't, select the
    "Weights" menu item. Then tap the Bars, Plates, Fixed Barbells, Dumbbells, or Kettlebells button
    to list weights of that type. You can then enable, disable, edit, delete, or add new weights
    using the various buttons.
</p>

<ul>
    <li>Use the checkbox to enable or disable a weight. Disabling a weight is often preferable to
        deleting it, especially if you are travelling and visiting different gyms.</li>
    <li>Use the Edit icon button (looks like a pencil) to modify the details of a weight, including
        the actual weight, the units (kg or lb), if the weight is enabled or not, and colours (if
        applicable).</li>
    <li>Use the Delete icon button (looks like a trash can) to delete a weight from the
        database.</li>
    <li>Use the Add button to add a new weight to the database.</li>
    <li>Use the Reset button to undo all your changes and restore the defaults.</li>
</ul>

<p>
    Most gyms don't have so-called "micro" or fractional plates (those in the 0.25-1 kg/lb range),
    but they can be helpful when you only want to increase the weight by a small amount. When used
    in conjunction with GymCalc, they can often enable you to select the exact ideal weight.
</p>

<p>
    The colours for plates come from the standard colours for Olympic bumper plates. For
    kettlebells, official competition colours have been used. Other colours have been used for
    non-standard weights. For plates, I've made multiples of 10 the same colour. You can modify the
    colours as you please to suit the weights in your gym.
</p>

<hr>

<h1>Using the calculator</h1>

<h2>Step 1</h2>

<p>Select the exercise type.</p>

<h2>Step 2</h2>

<p>Enter the maximum weight you're going for.</p>

<h2>Step 3</h2>

<h3>Barbell exercises</h3>

<ol type="a">
    <li>Select if you are using a plate-loaded or fixed-weight barbell.</li>
    <li>For a plate-loaded barbell select the weight of the bar and press calculate. If you don't
        know the weight of the bar, it's probably 20 kg or 45 lb.</li>
</ol>

<h3>Machine exercises</h3>

<ol type="a">
<li>
    Select "Bilateral" for machines where both arms or both legs move together, or "Isolateral" for
    machines where each arm or leg moves independently. If the exercise is unilateral (i.e. just one
    arm or leg is active at a time), select "bilateral"; it will work the same.
</li>
<li>
    Enter the starting weight of the machine. This is often shown on a metal plate fixed to the
    machine, but is just as often not shown, in which case, you can sometimes find it on the
    manufacturer's website. Otherwise, just leave it blank, which sets it to zero. It won't matter
    too much; just make sure you do the same each time. For bilateral machines the starting weight
    will be a total amount (effectively both sides), but for isolateral machines, it will be per
    side.
</li>
</ol>

<h3>Dumbbell or kettlebell exercises</h3>

<p>There is no step 3, carry on!</p>

<h2>Step 4</h2>

<p>
    Press "Calculate". The app will then display the plates or weight you should select to get
    closest to the maximum weight you entered. The same calculation is done for 90%, 80%, 70%, 60%,
    and 50% of the maximum - just tap the respective percent button to see which weights to select.
    This is helpful for warm-up sets, drop sets, or pyramid or reverse pyramid training (see below).
</p>

<hr>

<h1>Reverse Pyramid Training</h1>

<p>
    A popular technique often used when lifting weights is called "reverse pyramid training" (RPT).
    This is one of the best uses for the app and the reason I made it.
</p>

<p>
    The goal of RPT is to do your heaviest set first (after your warm-up sets) when your muscles are
    least fatigued, to maximise strength gains. Then you progressively lower the weight and increase
    the reps, thereby shifting focus from strength to hypertrophy.
</p>

<p>
    A typical pattern for this technique starts with 1-3 warm-up sets, with a low number of reps per
    set (about 5), so as not to overly fatigue the muscles. Rest for 1 minute between warm-up sets.
</p>

<p>
    Then you perform your working sets (usually 2-3, but it can be more). Start with your heaviest
    (or goal) weight, and perform as many reps as possible (AMRAP), aiming for about 3-6. Then
    drop the weight by 10% and again do AMRAP, aiming for about 6-10 reps. Repeat for the 3rd
    working set, aiming for about 10-15 reps. Rest for about 2 minutes before each working set.
</p>

<p>
    So, to use RPT on an exercise using the app, the simplest method is to do warm-up sets with 50%
    and 60%, then working sets at 100%, 90%, and 80%.
</p>

<p>&nbsp;</p>
