@page "/training"

<h1>Reverse Pyramid Training</h1>

<p>
    A popular technique often used in strength training is called "reverse pyramid training" (RPT).
    This is one of the best uses for the app and the reason I made it.
</p>

<p>
    The goal of RPT is to do your heaviest set first (after your warm-up sets) when your muscles are
    least fatigued, in order to maximise strength gains. Then you progressively lower the weight and
    increase the reps, thereby shifting focus from strength to hypertrophy.
</p>

<p>
    A typical pattern for this technique starts with 1-2 warm-up sets, with a low number of reps per
    set (about 5), so as not to overly fatigue the muscles. Rest for 1 minute between warm-up sets.
</p>

<p>
    Then perform your working sets (usually 2-3, but it can be more). Start with your heaviest
    (or goal) weight, and perform as many reps as possible (AMRAP), aiming for about 3-6. Then
    drop the weight by 10% and again do AMRAP, aiming for about 6-10 reps. Repeat for the 3rd
    working set, aiming for about 10-15 reps. Rest for 2-3 minutes before each working set.
</p>

<p>
    Therefore, to use RPT on an exercise using the app, the simplest method is to do warm-up sets
    with 50% and 60%, then working sets at 100%, 90%, and 80%.
</p>

<h1>Drop Sets</h1>

<p>
    Perhaps obviously, the percentages can also be used for drop sets. Do AMRAP for each set, change
    the weights quickly (and safely), and don't take any rest between sets. Typical patterns:
</p>

<ul>
    <li>100%, 90%, 80%, 70%, 60%, 50%</li>
    <li>100%, 80%, 60%</li>
    <li>100%, 50%</li>
</ul>
